.layout {
	width: 100%;

	.skipNavi {
		position: absolute;
		> button {
			position: relative;
			top: -100px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 10;
			border: 2px solid #222;
			box-sizing: border-box;
			&:focus-within {
				top: 0;
			}
		}
	}

	main {
		position: relative;
		width: 100%;
		.anchor {
			position: absolute;
			width: 100%;
			min-height: 100vh;
			z-index: -5;
		}
	}
	.content1 {
		height: 800px;
	}
}

@media screen and (max-width: 1279px) {
	.layout {
		.skipNavi {
			> button {
				&:focus-within {
					top: 100px;
					left: 50vw;
					z-index: 10;
				}
			}
		}
	}
}
