.youtube {
	width: 100%;
	overflow: hidden;

	.inner {
		width: 1280px;
		margin: 0 auto;
		position: relative;

		.advertisement {
			display: flex;
			margin-top: 150px;
			height: 800px;

			h2 {
				width: 35%;
				padding-right: 5%;
				font: bold 60px/1.5 'Poppins';
			}
			p {
				position: absolute;
				top: 180px;
				width: 55%;
				font: 24px/1.5 'Poppins';
			}
			.advs {
				flex: 2;
				position: relative;

				.adv-box {
					position: relative;
					overflow: hidden;
					border: 3px solid #222;
					width: 40%;
					height: 300px;

					&:focus {
						outline: 3px solid rgb(247, 207, 29);
					}

					&:nth-of-type(1) {
						margin-top: 5%;
						margin-left: 35%;
						height: 400px;
						z-index: 1;
						opacity: 0;
						transition: 0.7s 0.3s;
					}
					&:nth-of-type(2) {
						position: absolute;
						top: 30%;
						left: 60%;
						opacity: 0;
						transition: 0.7s 0.6s;
					}
					&:nth-of-type(3) {
						position: absolute;
						width: 60%;
						top: 45%;
						left: -20%;
						opacity: 0;
						transition: 0.7s 0.9s;
					}

					img {
						position: absolute;
						top: -25%;
						width: 100%;
						height: 150%;
						object-fit: cover;
					}
				}
			}
		}
		.sponsorship {
			position: relative;
			width: 100%;
			height: 950px;
			h2 {
				text-align: right;
				font: bold 60px/1.5 'Poppins';
				padding-top: 150px;
			}
			p {
				text-align: right;
				font: 24px/1.5 'Poppins';
				width: 35%;
				margin: 0 65%;
			}
			.sps-box {
				display: inline-block;
				overflow: hidden;
				border: 3px solid #222;

				&:focus {
					outline: 3px solid rgb(247, 207, 29);
				}

				&:nth-of-type(1) {
					position: absolute;
					top: 0;
					width: 55%;
					height: 400px;
					opacity: 0;
					transition: 0.7s 0.3s;
				}
				&:nth-of-type(2) {
					position: absolute;
					top: 430px;
					left: 15%;
					width: 30%;
					height: 350px;
					opacity: 0;
					transition: 0.7s 0.6s;
				}
				&:nth-of-type(3) {
					position: absolute;
					top: 480px;
					left: 48%;
					width: 50%;
					height: 400px;
					opacity: 0;
					transition: 0.7s 0.9s;
				}

				img {
					position: absolute;
					top: -25%;
					width: 100%;
					height: 150%;
					object-fit: cover;
				}
			}
		}
		.photos {
			margin: 150px 0;
			.frame {
				width: 90%;
				padding: 0 10px;
				margin: 0 auto;
				position: relative;
				span {
					font: italic 36px/1 'Lora';
					position: absolute;
					top: -70px;
					right: 0;
					&::before {
						content: '';
						display: block;
						width: 150%;
						height: 1px;
						background-color: #333;
						position: absolute;
						right: 0;
						top: -10px;
					}
				}
				.pics {
					width: 100%;
					overflow: hidden;
					position: relative;
					.slide {
						position: relative;
						width: calc((100% / 3) * 7);
						//	margin-left: calc((100% / -3) * 2);
						img {
							width: calc(100% / 7);
							height: 280px;
							padding: 0 5px;
							object-fit: cover;
						}
					}
				}
				.index {
					display: none;
				}
				.prev {
					background: none;
					border: none;
					position: absolute;
					top: 50%;
					left: -50px;
					transform: translate(0%, -50%);
					color: #666;
					font: bold 42px/1 'Poppins';
				}
				.next {
					background: none;
					border: none;
					position: absolute;
					top: 50%;
					right: -50px;
					transform: translate(0%, -50%);
					color: #666;
					font: bold 42px/1 'Poppins';
				}
			}
		}
	}
}

@media screen and (max-width: 1279px) {
	.youtube {
		.inner {
			width: 90%;

			.advertisement {
				h2 {
					font: bold 50px/1.5 'Poppins';
				}
				.advs {
					.adv-box {
						&:nth-of-type(2) {
							position: absolute;
							height: 250px;
							top: 30%;
							left: 60%;
						}
						&:nth-of-type(3) {
							position: absolute;
							height: 250px;
							width: 70%;
							top: 50%;
							left: -20%;
						}
					}
				}
			}
			.sponsorship {
				h2 {
					font: bold 50px/1.5 'Poppins';
					padding-top: 180px;
				}
				p {
					font: 20px/1.5 'Poppins';
				}
				.sps-box {
					&:nth-of-type(1) {
						height: 350px;
					}
					&:nth-of-type(2) {
						top: 380px;
					}
				}
			}
			.photos {
				.frame {
					.pics {
						.slide {
							img {
								height: 250px;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 899px) {
	.youtube {
		.inner {
			.advertisement {
				display: block;

				h2 {
					font: bold 50px/1.3 'Poppins';
				}
				p {
					position: relative;
					top: 0;
					width: 80%;
					font: 20px/1.5 'Poppins';
				}
				.advs {
					flex: none;

					.adv-box {
						&:nth-of-type(1) {
							height: 250px;
						}
						&:nth-of-type(2) {
							position: absolute;
							height: 200px;
							top: 110%;
							left: 60%;
						}
						&:nth-of-type(3) {
							position: absolute;
							height: 300px;
							width: 40%;
							top: 30%;
							left: 5%;
						}
					}
				}
			}
			.sponsorship {
				height: 900px;
				h2 {
					font: bold 50px/1.5 'Poppins';
					padding-top: 0px;
				}
				p {
					font: 20px/1.5 'Poppins';
					width: 90%;
					margin: 0 10%;
				}
				.sps-box {
					&:nth-of-type(1) {
						top: 25%;
						width: 80%;
						height: 350px;
					}
					&:nth-of-type(2) {
						top: 75%;
						left: 5%;
						width: 40%;
						height: 190px;
					}

					&:nth-of-type(3) {
						top: 55%;
						left: 50%;
						width: 50%;
						height: 255px;
					}
				}
			}
			.photos {
				margin: 100px 0;
				.frame {
					.pics {
						.slide {
							img {
								height: 30vw;
							}
						}
					}
					.prev {
						left: -25px;
					}
					.next {
						right: -25px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 499px) {
	.youtube {
		.inner {
			.advertisement {
				margin-top: 50px;
				height: 450px;

				h2 {
					font: bold 30px/1.3 'Poppins';
				}
				p {
					width: 90%;
					font: 14px/1.5 'Poppins';
				}
				.advs {
					flex: none;

					.adv-box {
						&:nth-of-type(1) {
							margin-top: 10%;
							margin-left: 35%;
							height: 130px;
						}
						&:nth-of-type(2) {
							position: absolute;
							height: 100px;
							top: 110%;
							left: 60%;
						}
						&:nth-of-type(3) {
							position: absolute;
							height: 150px;
							width: 40%;
							top: 30%;
							left: 5%;
						}
					}
				}
			}
			.sponsorship {
				height: 550px;
				h2 {
					font: bold 30px/1.5 'Poppins';
					padding-top: 0px;
				}
				p {
					font: 14px/1.5 'Poppins';
					width: 90%;
					margin: 0 10%;
				}
				.sps-box {
					&:nth-of-type(1) {
						top: 25%;
						width: 80%;
						height: 210px;
					}
					&:nth-of-type(2) {
						top: 68%;
						left: 5%;
						width: 40%;
						height: 150px;
					}

					&:nth-of-type(3) {
						top: 50%;
						left: 50%;
						width: 50%;
						height: 145px;
					}
				}
			}
			.photos {
				margin: 80px 0 50px;
				.frame {
					width: 100%;
					padding: 0;
					margin: 0;
					span {
						font: italic 26px/1 'Lora';
						top: -50px;
						right: 20px;
					}
					.pics {
						width: 70vw;
						margin: 0 auto;
						.slide {
							width: 70vw;
							height: 35vw;
							margin: 0 auto;
							img {
								position: absolute;
								width: 70vw;
								height: 35vw;
								padding: 0 30px;
								opacity: 0;
								left: 0%;
								transform: translateX(0%);
								object-fit: cover;
								&.on {
									opacity: 1;
								}
							}
						}
						.index {
							display: block;
							margin-left: 10%;
							margin-top: 10%;

							> button {
								display: inline-block;
								width: 2vw;
								height: 2vw;
								margin-left: 5vw;
								background-color: #aaa;
								border-radius: 50%;
								border: none;
							}
						}
					}
					.prev {
						position: absolute;
						top: 45%;
						left: 9vmin;
						transform: translate(0%, -50%);
						color: #666;
						font: bold 5vmin/1 'Poppins';
					}
					.next {
						position: absolute;
						top: 45%;
						right: 9vmin;
						transform: translate(0%, -50%);
						color: #666;
						font: bold 5vmin/1 'Poppins';
					}
				}
			}
		}
	}
}
